@import "tailwindcss";

body {
  background: #f3f4f6;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}
.selected-day {
  background: #2563eb !important;
  color: white !important;
  border-radius: 10px;
}

.today-day {
  background: #16a34a !important;
  color: white !important;
  border-radius: 10px;
}

.fc-daygrid-day:hover {
  background: #eff6ff;
  cursor: pointer;
}

.fc .fc-button {
  border-radius: 10px !important;
}

.fc-toolbar-title {
  font-size: 22px !important;
  font-weight: 700 !important;
}
/* Selected Date */

.selected-day {
  background: #2563eb !important;
  color: white !important;
  border-radius: 10px !important;
}

/* Today */

.today-day {
  background: #16a34a !important;
  color: white !important;
  border-radius: 10px !important;
}

/* Hover */

.fc-daygrid-day:hover {
  background: #eff6ff;
  cursor: pointer;
}

/* Buttons */

.fc .fc-button {
  border-radius: 10px !important;
}

/* Month Title */

.fc-toolbar-title {
  font-size: 22px !important;
  font-weight: bold !important;
}